@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    font-family: "Atkinson Hyperlegible", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.dark{
    color: rgb(119, 117, 117);
}
/* Navigation start */
.navigation-container{
    border: 1px solid red;
    padding: 30px 0px;
    
}
.navigation-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
    width: 70%;
    margin: 0 auto;
}
.navigation-item1{
    display: flex;
    align-items: center;
}
.navigation-item1 img{
    width: 70px;
    margin-right: 8px;
}
.navigation-item1 h1{
    font-size: 2.6rem;
}
.navigation-item2 a{
    text-decoration: none;
    padding: 0px 22px;
    color: black;
    font-size: 1.2rem;
}
.navigation-item2 a:hover{
    background-color: rgb(235, 159, 235);
    padding: 10px 29px;
    border-radius: 15px;
}
.humber{
    display: none;
}
/* Navigation End */

/* Banner Style Start */
.banner-container{
    border: 1px solid blue;
    width: 70%;
    margin: 0 auto;
}
.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-items{
    /* border: 1px solid khaki; */
    background-image: url(./images/Group\ 14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 13.7% 0%;
    margin-right: 30px;
    padding-right: 26%;
}
.banner-items h2{
    font-size: 2rem;
    width: 700;
    margin-bottom: 10px;
}
.banner-items h1{
    border: 1px solid palegreen;
    font-size: 3.5rem;
    width: 800;
    color: rgb(218, 38, 218);
    margin-bottom: 15px;
}
.btn1{
    padding: 14px 33px;
    border-radius: 33px;
    color: white;
    width: 500;
    background-color: rgb(236, 65, 236);
    font-size: 0.9rem;
    margin-right: 10px;
    text-decoration: none;
}
.btn2{
    padding: 14px 22px;
    border-radius: 33px;
    color: white;
    width: 500;
    background-color: rgb(12, 218, 218);
    font-size: 1em;
    text-decoration: none;
}
.btn1:hover{
    background-color: rgb(12, 218, 218);
}
.btn2:hover{
    background-color: rgb(236, 65, 236);
}
.btn-primary{
    margin-top: 40px;
}
.item img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.item {
    display: flex; 
    margin: 15px 0px; 
}
.banner-img img{
    width: 100%;   
}
/* Banner Style Start */
/* Gramer section start */
.gamer-container{
    background: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
}
.gamer-content{
    border: 1px solid blue;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items:center ;
    padding: 50px 0px;
}
.gamer-item{
    text-align: end;
    align-items: end;
}
.gamer-img img{
    width: 100%;
}
.gamer-item h2{
    font-size: 3rem;
    width: 800;
    margin-bottom: 25px;
    color: rgba(226, 19, 226, 0.925);
}
.gamer-item p{
    font-size: 1rem;
    width: 300;
    margin-bottom: 35px;
}
.gamer-item a{
    background-color: rgb(240, 63, 240); 
    padding: 14px 26px;
    border-radius: 33px;
    margin-bottom: 35px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    width: 500;
}
.gamer-item a:hover{
    background-color: rgb(12, 218, 218);
}
.gamer-item h4{
    font-size: 1.1rem;
    width: 200;
    margin-top: 35px;

}
.gamer-item h3{
    margin-top: 10px;
    font-size: 1.3rem;
    width: 200;
    color: rgba(73, 71, 71, 0.966);
}
/* Gramer section End */

/* gallery section start */
.gallery-content{
    width: 70%;
    margin: 0 auto;
    border: 1px solid rgb(71, 236, 5);
    padding: 50px 0px; 
}
.gallery-taile{
    text-align: center;
}
.gallery-taile h1{
    font-size: 2.5rem;
    width: 700;    
}
.gallery-taile span{
    color: rgb(231, 47, 231);
}
.gallery-taile p{
    font-size: 1rem;
    width: 300;
    margin-top: 8px;
    margin-bottom: 35px;
}
.gallery-img {
    border: 1px solid brown;
    display: flex;
    justify-content: space-between;
}
.gallery-item img{
    width: 96%;
    height: 76%;
    margin: 0px 7px;  
}
.intro{
    margin: 10px 8px; 
}
.gallery-item img:hover{
    box-shadow: rgb(215, 90, 219)  5px 5px 10px;
    border-radius: 15px;
}
/* gallery section end */

/* game1 section start */
.game1-container{
    width: 70%;
    margin: 0 auto;
    border: 1px solid red;
    position: relative;
}
.game1-content{
    display: flex;
    padding-left: 17%;
    align-items: center;   
    text-align: center;
}
.game1-title{
    border: 1px solid brown;
    width: 40%;
    margin-right: 30%;
}
.game1-title h1{
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.img2{
    width: 100%;
    margin-bottom: 17%;
}
.img1{
    position: absolute;
    width: 18%;
    height: 48%;
    border: 2px solid green;
    top: 51%;
    right: 27%;
    margin-left: 120px;
}
/* game1 section end */

/* game2 section start*/
.game2-container{
    width: 70%;
    margin: 0 auto;
    border: 1px solid red;
    position: relative;
    margin-top: 3%;
}
.game2-content{
    display: flex;
    padding-right: 17%;
    align-items: center;   
    text-align: center;
}
.game2-title{
    border: 1px solid brown;
    width: 40%;
    margin-left: 30%;
}
.game2-title h1{
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.img-third{
    width: 100%;
    margin-bottom: 17%;
}
.img-second{
    position: absolute;
    width: 19%;
    height: 52%;
    border: 2px solid green;
    top: 47%;
    right: 54%;
    margin-left: 120px;
}
/* game2 section end*/

/* Career section start */
.career-container{
   background-color: #ee3f99;
    color: white;   
}
.career-content{
    width: 70%;
    margin: 0 auto;
    border: 1px solid lawngreen;
    display: flex;
    align-items: center;   
}
.career-items{
    display: flex;
    text-align: center;
    width: 100%;
}
.career-title h1{
    font-size: 2.5rem;
    width: 700;
    margin-bottom: 16px;
    color: white;
}
.career-title p{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 25px;
    color: rgb(218, 215, 215);
    width: 85%;
}
.career-item1{
    margin-right: 10%;
    border: 1px solid blueviolet;
    text-align: start;  
}
.career-item1 p{
    color: white; 
    margin-bottom: 40px;
}
.career-item2 p{
    color: white; 
    margin-bottom: 40px; 
}
.career-item2{
    margin-left: 10%;
    border: 1px solid blueviolet;
    text-align: end;
}
.career-img img{
    width: 650px;
    height: 500px;
}
.btn3 a{
    border: 1px solid red;
    background-color: white;
    font-size: 1.1rem;
    padding: 12px 20px;
    border-radius: 25px;
    color: #ee3f99;
    width: 800;
    text-decoration: none;
    margin-top: 100%;
}
/* Career section End */
/* gameing-apps-container start */
.gameing-apps-container{

}
.gameing-apps-content{
    border: 1px solid purple;
    width: 70%;
    margin: 0 auto;
    padding: 6% 0px;
}
.gaming-apps-item1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}
.gaming-apps-item1 p{
    font-size: 1rem;
    font-weight: bolder;
}
.gaming-apps-item2 p{
    font-size: 1rem;
    font-weight: bolder;
}
.gaming-apps-item2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
/* gameing-apps-container End */

/* Mobile Responsive */
@media screen and (max-width:576px) {
    /* Navigation Start */
    .navigation-item2 a{
        display: none;
    }
    .humber{
        display: block;
    }
    .navigation-container{
        border: 1px solid red;
        padding: 10px 0px;    
    }
    .navigation-content{
        width: 90%;    
    }
    /* Navigation End */
    /* Banner start */
    .banner-content {
        flex-direction: column-reverse ;
    }
    .banner-container{
        width: 90%;
    }
    .banner-img img{
        width: 100%;   
    }
    .banner-items{
        width: 95%;
        margin-top: 15px;
        align-items: center;
        padding: 30px 0px ;
        margin-right: 0px;
        text-align: center;
    }
    .item{
        text-align: center;
        align-items: center;
        padding-left: 20%;
        padding-right: 20%;
    }
    /* Banner End */
    /* Gramer section start */
    .gamer-content{
        width: 90%;
    }
    .gamer-content{
        flex-direction: column;   
    }
    .gamer-item{
        text-align: center;
        align-items: center;
    }
    .gamer-img img{
        width: 100%;
    }
    /* Gramer section End */

    /* gallery section start */
    .gallery-content{
        width: 90%;  
    }
    .gallery-img{
        flex-direction: column;  
    }
    /* gallery section end */ 

    /* game1 section start */
    .game1-container{
        width: 90%;
    }
    .game1-content{
        flex-direction: column;
        text-align: center;
        padding-left: 0px;
    }
    .game1-title{
        width: 100%;
        margin-right: 0%;
    }
    .game1-title h1{
        font-size: 2.5rem;
        margin-bottom: 15px;
    }
    .game1-title p{
        margin-bottom: 25px;
    }
    .img2{
        width: 84%;
        margin-bottom: 17%;
        margin-left: 16%;
    }
    .img1{
        position: absolute;
        width: 38%;
        height: 27%;
        top: 70%;
        right: 60%;
        margin-left: 120px;
    }
    /* game1 section End */

    /* game2 section start*/
    .game2-container{
        width: 90%;
    }
    .game2-content{
        flex-direction:  column-reverse;
        text-align: center;
        padding-left: 0px;
    }
    .game2-title{
        border: 1px solid brown;
        width: 110%;
        margin-right: 0%;
        margin-left: 17%;
    }
    .game2-title h1{
        font-size: 2.5rem;
        margin-bottom: 15px;
    }
    .game2-title p{
        margin-bottom: 25px;
    }
    .img-third{
        width: 100%;
        margin-bottom: 17%;
    }
    .img-second{
        position: absolute;
        width: 38%;
        height: 27%;
        top: 70%;
        left: 28%;
        margin-right: 120px;
    }
    /* game2 section end*/

    /* Career section start */
    .career-content{
        width: 90%;
        flex-direction: column;
    }
    .career-items{
        width: 100%;
    }
    .career-title h1{
        margin-top: 50px;
    }
    .career-item1{
        margin-right: 0;
        width: 130%; 
    }
    .career-item2{
        margin-left: 0;
        border: 1px solid blueviolet;
        text-align: end;
        width: 150%;
    }
    .career-img img{
        margin-top: 40px;
        width: 420px;
        height: 400px;
    }
    /* Career section End */
    /* gameing-apps-container start */
    .gameing-apps-content{
        width: 90%;
    }
    .exit{
        display: none;
    }
    .gaming-apps-item1{
        display: grid;
        grid-template-columns: repeat( 2,2fr);
    }

    .gaming-apps-item2{
        display: grid;
        grid-template-columns: repeat( 2,2fr);
    }
    /* gameing-apps-container End */
}